body {
  background: rgb(141,137,217);
  background: -moz-linear-gradient(90deg, rgba(141,137,217,1) 0%, rgba(104,194,18,1) 48%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(141,137,217,1) 0%, rgba(104,194,18,1) 48%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(141,137,217,1) 0%, rgba(104,194,18,1) 48%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8d89d9",endColorstr="#00d4ff",GradientType=1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: 0;
}

/* Style bagian Welcome */
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 720px;
    margin: 75px auto;
    padding: 70px;
    background-color: #b7dfe6;    
    border: 1px solid #0a0101;
    border-radius: 5px;
    box-shadow: 0 0 120px rgba(66, 63, 63, 0.1);
}

h1 {
  margin-bottom: 1em;
}

.klik {
  text-align: center;

}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

button {  
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 25px;
} 

.button-style {
  background-color: #087710;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
} 

.button-style:hover {
  background-color: #10a74a;
}

/* style untuk index.html */
  .converter-container {    
    max-width: 720px;
    margin: 70px auto;
    padding: 50px;
    background-color: #88d0d3;
    border: 3px solid #0a0101;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #back-button {
    background-color: #087710;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  #back-button:hover {
    background-color: #052958;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  #button-result {
    background-color: #087710;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #button-result:hover {
    background-color: #021104;
  }
  
  #button-reset {
    background-color: #087710;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 322px;
  }

  #button-reset:hover {
    background-color: #021104;
  }
  

/* Style untuk footer jika dibutuhkan */
/*footer {
    background-color: #87ade7;
    padding: 10px;
    text-align: left;
  }
  
  .footer-content {
    max-width: 50px;
    margin: 0 auto;
  }*/
  